body{
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-image: url(/img/pattern.png);
    background-color: #4cb2ec;
    background-size: 20%;
}

#vuoto{
    width: 100%;
    height: 50px;
}

#logo{
    width: 10%;
}