body{
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-image: url(/img/pattern.png);
    background-color: #4cb2ec;
    background-size: 20%;
}

#vuoto{
    width: 100%;
    height: 50px;
}

#logo{
    width: 10%;
}

.contenitore{
    margin: 5px;
}

.info{
    color: #808080b3;
    font-size: 18px;
}
#autore{
    color: #00c4ff;
}

.info-foto{
    font-size: 12px;
}