body{
    margin: 0;
    
    font-family: Arial, sans-serif;
}

header {
    background-image: url(/img/pattern.png);
    background-color: #4cb2ec;
    background-size: 20%;
    
}

#vuoto{
    height: 50px;
    width: 100%;
}

#logo{
    width: 10%;
    padding-left: 5px;
}

.contenitore{
    padding-left: 5px;
    
}

.info{
    color: #808080b3;
    font-size: 18px;
}
#autore{
    color: #00c4ff;
}

.info-foto{
    font-size: 12px;
}

.testo{
    width: 55%;
}

ul{
    margin: 0 0 0 -21px;
}